<h3 class="ui center aligned medium icon header">
  <i class="circular green wechat icon"></i>
  Let's Talk
</h3>
<div class="ui two column grid">
  <div class="eleven wide column">
    <div class="ui fluid raised card chatbox">
      <div id="messages" class="content">
        <div id="message-container" class="ui feed">
          <%= render @recently_messages %>
        </div>
      </div>
      <%= render 'chatroom/message_form' %>
    </div>
  </div>
  <div class="five wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div id="users-list" class="ui middle aligned selection list">
          <%= render 'chatroom/online_users' %>
        </div>
      </div>
    </div>
  </div>
</div>


